NODE_ENV=development
PORT=3001
API_INTERNAL_PORT=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_SYNC=
JWT_SECRET=
JWT_EXPIRES_IN=
AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=
# Base HTTPS (CDN / CloudFront); dùng khi trả avatarUrl từ key trong DB
AWS_S3_PUBLIC_BASE_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=
MAIL_PASS=
MAIL_FROM=no-reply@wedding.local
RESET_PASSWORD_URL=http://localhost:3000/reset-password

REDIS_HOST=localhost
REDIS_PORT=6379